---

---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style type="text/css" media="all">
.vertical-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.full-height {
  min-height: 100%;
  min-height: 100vh;
}
.grow {
  transition: 0.3s ease-out;
  line-height: 1.3em;
}
.grow:hover{
  font-size:4em;
  line-height: 1em;
}
a { color:inherit; }
a:hover { color:inherit; }
a:visited { color:inherit; }
a:active { color:inherit; }
    </style>
  </head>
  <body>
    <div class="container my-3 full-height vertical-center">
      <div class="text-center col-12">
        {% for user in site.data.profiles %}
        <h1>{{ user.name }}</h1>
        <div class="vertical-center" style="height:5em;">
          {% if user.facebook %}
          <a href="https://facebook.com/{{user.facebook}}" target="_blank">
            <i class="fa grow fa-facebook fa-3x fa-fw"></i>
          </a>
          {% endif %}
          {% if user.twitter %}
          <a href="https://twitter.com/{{user.twitter}}" target="_blank">
            <i class="fa grow fa-twitter fa-3x fa-fw"></i>
          </a>
          {% endif %}
          {% if user.instagram %}
          <a href="https://instagram.com/{{user.instagram}}" target="_blank">
            <i class="fa grow fa-instagram fa-3x fa-fw"></i>
          </a>
          {% endif %}
          {% if user.snapchat %}
          <a href="https://snapchat.com/add/{{user.snapchat}}" target="_blank">
            <i class="fa grow fa-snapchat fa-3x fa-fw"></i>
          </a>
          {% endif %}
          {% if user.linkedin %}
          <a href="https://linkedin.com/{{user.linkedin}}" target="_blank">
            <i class="fa grow fa-linkedin fa-3x fa-fw"></i>
          </a>
          {% endif %}
          {% if user.medium %}
          <a href="https://medium.com/@{{user.medium}}" target="_blank">
            <i class="fa grow fa-medium fa-3x fa-fw"></i>
          </a>
          {% endif %}
          {% if user.github %}
          <a href="https://github.com/{{user.github}}" target="_blank">
            <i class="fa grow fa-github fa-3x fa-fw"></i>
          </a>
          {% endif %}
          {% if user.gitlab %}
          <a href="https://gitlab.com/{{user.gitlab}}" target="_blank">
            <i class="fa grow fa-gitlab fa-3x fa-fw"></i>
          </a>
          {% endif %}
          {% if user.google-plus %}
          <a href="https://plus.google.com/{{user.google-plus}}" target="_blank">
            <i class="fa grow fa-google-plus-official fa-3x fa-fw"></i>
          </a>
          {% endif %}
          {% if user.pinterest %}
          <a href="https://pinterest.com/{{user.pinterest}}" target="_blank">
            <i class="fa grow fa-pinterest fa-3x fa-fw"></i>
          </a>
          {% endif %}
          {% if user.reddit %}
          <a href="https://reddit.com/u/{{user.reddit}}" target="_blank">
            <i class="fa grow fa-reddit fa-3x fa-fw"></i>
          </a>
          {% endif %}
          {% if user.spotify %}
          <a href="https://open.spotify.com/user/{{user.spotify}}" target="_blank">
            <i class="fa grow fa-spotify fa-3x fa-fw"></i>
          </a>
          {% endif %}
          {% if user.email %}
          <a href="mailto:{{user.email}}" target="_blank">
            <i class="fa grow fa-envelope fa-3x fa-fw"></i>
          </a>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
